.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/tsconfig.json
.github/**
.git/**
**/.git/**
**/.svn/**
**/.hg/**
**/.DS_Store
**/node_modules/**
**/test/**
**/__tests__/**
**/.eslintrc.*
**/.prettierrc.*
**/.editorconfig
**/.yarnrc.*
**/*.test.js
**/*.spec.js
**/coverage/**
**/.nyc_output/**
.vscodeignore
.npmrc
.npmignore
package-lock.json
yarn.lock
webpack.config.js
**/jest.config.js
CONTRIBUTING.md
+ !dist/**